# Python
__pycache__/
*.pyc
.venv/
.env

# Docker
.docker/

# IDE
.vscode/
.idea/

# Claude
.claude/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars      # If contains secrets
.terraform.lock.hcl

# LocalStack
machine.json
server.test.pem*
